@using LegendBLL
@model PersonalDetail

@*@using (Html.BeginForm("AjaxPost", "ProfileManage", new { postType = "Personal" }, FormMethod.Post))
{*@

@using (Ajax.BeginForm("AjaxPost", "ProfileManage", new { postType = "Personal" }, new AjaxOptions()
{
    HttpMethod = "Post",
    UpdateTargetId = "divTabsContent",
    InsertionMode = InsertionMode.Replace
}, new { id="formPersonal"}))
{

    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="well">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    @Html.LabelFor(model => model.SalutationID, "Salutation", htmlAttributes: new { @class = "control-label" })
                    @{
                        var listItemSalutation = new List<SelectListItem>();
                        listItemSalutation.Add(new SelectListItem { Text = "Select", Value = "0" });
                        foreach (SalutationModel objSalutation in (List<SalutationModel>)Model.salutationList)
                        {
                            listItemSalutation.Add(new SelectListItem { Text = objSalutation.Salutation, Value = Convert.ToString(objSalutation.SalutationID) });
                        }
                    }
                    @Html.DropDownListFor(model => model.SalutationID, listItemSalutation, htmlAttributes: new { @class = "form-control" })
                   
                </div>
                <div class="col-xs-12 col-sm-3">
                    @Html.LabelFor(model => model.FirstName, "First Name", htmlAttributes: new { @class = "control-label" })<span style="color:red">&nbsp;*</span>
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-12 col-sm-3">
                    @Html.LabelFor(model => model.MiddleName, "Middle Name", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-12 col-sm-3">
                    @Html.LabelFor(model => model.LastName, "Last Name", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    @Html.LabelFor(model => model.DOBActual, "DOB Actual", htmlAttributes: new { @class = "control-label" })
                    <div class='input-group date' id='dtDOBActual' data-date-format="MM/DD/YYYY">
                        @Html.EditorFor(model => model.DOBActual, new { htmlAttributes = new { @class = "form-control" } })
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    @Html.LabelFor(model => model.DOBOfficial, "DOB Official", htmlAttributes: new { @class = "control-label" })
                    <div class='input-group date' id='dtDOBOfficial' data-date-format="MM/DD/YYYY">
                        @Html.EditorFor(model => model.DOBOfficial, new { htmlAttributes = new { @class = "form-control" } })
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-12 col-sm-3 pull-right">
                    <div class="pull-right btn-group">
                        <input type="submit" name="Command" value="SaveP" class="btn btn-info btn-group-sm" />
                        <input type="submit" name="CancelPersonal" value="Cancel" class="btn btn-default btn-group-sm" />
                        @*@Ajax.ActionLink("Save Ajax", "AjaxPost", "ProfileManage", new { postType = "Personal" }, new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "divTabsContent",
                        InsertionMode = InsertionMode.Replace
                    })*@                     
                    </div>
                </div>
            </div>
        </div>

    </div>
}