@using LegendBLL
@model CityModel

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="col-xs-12 col-sm-6 col-md-8 title">
            City List
        </div>
        <div id="reportrange" class="col-xs-12 col-sm-6 col-md-4">
            <div class="input-group">
                <span class="input-group-btn">
                    @Html.ActionLink("Add", "Create", "City", null, new { @class = "btn btn-default" })
                </span>
                @using (Html.BeginForm("Search", "City", FormMethod.Post, new { @class = "input-group" }))
                {
                    @Html.TextBoxFor(model => model.CityName, null, new { @class = "form-control", placeholder = "Search by Country | State | City" })
                    <span class="input-group-btn">
                        <input type="submit" value="Search" class="btn btn-default btn-group" />
                    </span>
                }
            </div>
        </div>
    </div>
    <table id="tblLocation" class="panel-body table table-condensed table-bordered table-hover">
        <tr>
            <th class="col-xs-1 col-sm-1">
                #
            </th>
            <th style="display: none;">
                CityID
            </th>
            <th class="col-xs-2 col-sm-3">
                City
            </th>
            <th class="col-xs-3 col-sm-3">
                State
            </th>
            <th class="col-xs-2 col-sm-3">
                Country
            </th>
            <th class="text-center col-xs-4 col-sm-4">
                Action
            </th>
        </tr>
        @if (Model.cityList != null && Model.cityList.Count > 0)
        {
            int count = 0;
            foreach (var item in Model.cityList)
            {
                count++;
                using (Html.BeginForm("Delete", "City", new { id = item.CityID }))
                {
                    <tbody id="tblbody">
                        <tr>
                            <td>
                                @count
                            </td>
                            <td style="display: none;">
                                @Html.DisplayFor(modelItem => item.CityID)
                                @Html.DisplayFor(modelItem => item.RefStateID)
                                @Html.DisplayFor(modelItem => item.RefCountryID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CityName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StateName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Country)
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-sm">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.CityID }, new { @class = "btn btn-default input-sm" })
                                    <input type="submit" value="Delete" class="btn btn-default input-sm"
                                           onclick="return confirm('Are you sure to delete city @item.CityName')" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                }

            }
        }
        else
        {
            <tr>
                <td colspan="5">
                    <b>No Record Found</b>
                </td>
            </tr>
        }
    </table>
    <div class="panel-footer text-center">
        <div class="pagination">
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        @*$(document).ready(function () {

        });

        function GetSelectedCityList()
        {

            var searchItems = $('#txtSearch').val();

            var url = '@Url.Action("Search")'; // "/City/GetSelectedState4COuntry";
            alert(url);
            $.ajax({
                url: url,
                data: { SearchItem: searchItems },
                cache: false,
                type: "POST",
                success: function (data) {


                },
                error: function (reponse) {
                    alert(JSON.parse(reponse));
                    alert("error : " + reponse);
                }
            });

        }*@


    </script>
}

